.btn {
  margin: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  background-color: var(--yellow-500);
  color: var(--gray-900);

  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }

  &:disabled {
    background-color: transparent;
    color: var(--gray-700);
    cursor: not-allowed;
  }

  &:active {
    transform: scale(0.95);
  }

}